.header__button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 21px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1880px;
    margin: 0 auto;
}