.color-grid {
    padding: 21px 0 0;
    max-width: 1120px;
}

@media (max-width: 768px) {
    .color-grid {
        padding: 88px 24px 0;
    }
} 

@media (max-width: 320px) {
    .color-grid {
        max-width: 288px;
        padding: 64px 16px 0;
    }
}

.color-grid_harmonic {
    margin-top: 40px;
}

.color-grid__caption {
    margin-top: 10px;
    color: #ffffff;
    font-family: 'JetBrainsMono', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: auto;
}

.color-grid__items_harmonic {
    margin-top: 10px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
}